---
import RoundClock from "../../../solid/round-clock";
import Layout from "../../../layouts/Layout.astro";
const pageTitle = "时钟";
let count = 0;
const add = () => {
  count++;
}
---

<Layout pageTitle={pageTitle}>
  <div class="w-1/3">
    <RoundClock client:load />

  </div>
</Layout>
