---
import Content from "./index";
import Layout from "../../../layouts/Layout.astro";
import "./index.css";
---

<Layout pageTitle="头像">
	<Content client:load />
	<div class="absolute left-0 right-0 bottom-0">
		<svg
			id="svg"
			viewBox="0 0 1440 390"
			xmlns="http://www.w3.org/2000/svg"
			class="transition duration-300 ease-in-out delay-150"
		>
			<defs>
				<linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
					<stop offset="5%" stop-color="#F78DA7"></stop>
					<stop offset="95%" stop-color="#8ED1FC"></stop>
				</linearGradient>
			</defs>
			<path
				d="M 0,400 L 0,60 C 22.20422447032758,65.96178685325296 44.40844894065516,71.92357370650592 71,68 C 97.59155105934484,64.07642629349408 128.57042870770692,50.26749202722929 155,44 C 181.42957129229308,37.73250797277071 203.30983622851716,39.006458184576886 229,50 C 254.69016377148284,60.993541815423114 284.1902263782245,81.70667523446322 315,78 C 345.8097736217755,74.29332476553678 377.9292582585849,46.1668408775702 403,45 C 428.0707417414151,43.8331591224298 446.0927405874359,69.62596125525596 469,81 C 491.9072594125641,92.37403874474404 519.6997793916712,89.329314101406 548,87 C 576.3002206083288,84.670685898594 605.1081418458792,83.05678233912008 630,83 C 654.8918581541208,82.94321766087992 675.867653224812,84.44355654211371 709,79 C 742.132346775188,73.55644345788629 787.421245254873,61.16899149242512 813,64 C 838.578754745127,66.83100850757488 844.4473657556958,84.88047748818582 869,81 C 893.5526342443042,77.11952251181418 936.7892917223435,51.30909855483161 971,41 C 1005.2107082776565,30.690901445168397 1030.3954673549308,35.88312829248776 1052,38 C 1073.6045326450692,40.11687170751224 1091.628838857933,39.15838827521737 1119,42 C 1146.371161142067,44.84161172478263 1183.0891772133375,51.48331860664276 1209,54 C 1234.9108227866625,56.51668139335724 1250.014452288717,54.90833729821156 1276,61 C 1301.985547711283,67.09166270178844 1338.8530136317952,80.88333220051098 1368,82 C 1397.1469863682048,83.11666779948902 1418.5734931841025,71.55833389974451 1440,60 L 1440,400 L 0,400 Z"
				stroke="none"
				stroke-width="0"
				fill="url(#gradient)"
				fill-opacity="0.265"
				class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
			<defs>
				<linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
					<stop offset="5%" stop-color="#F78DA7"></stop>
					<stop offset="95%" stop-color="#8ED1FC"></stop>
				</linearGradient>
			</defs>
			<path
				d="M 0,400 L 0,140 C 30.717178288470464,132.62906940159309 61.43435657694093,125.25813880318614 85,133 C 108.56564342305907,140.74186119681386 124.97975198070677,163.59651418884843 152,161 C 179.02024801929323,158.40348581115157 216.64663550023204,130.3558044414201 246,133 C 275.35336449976796,135.6441955585799 296.43370601836534,168.9802680454711 321,164 C 345.56629398163466,159.0197319545289 373.6185404263066,115.72312337669551 400,115 C 426.3814595736934,114.27687662330449 451.09213227640845,156.1272384477469 478,159 C 504.90786772359155,161.8727615522531 534.0129304680595,125.76792283231703 563,119 C 591.9870695319405,112.23207716768297 620.8561458513536,134.80107022298503 648,139 C 675.1438541486464,143.19892977701497 700.5624861265261,129.027796275743 723,135 C 745.4375138734739,140.972203724257 764.8939096425419,167.087744674043 791,167 C 817.1060903574581,166.912255325957 849.8618753033059,140.621225028085 879,141 C 908.1381246966941,141.378774971915 933.6585891442351,168.42735521361703 959,166 C 984.3414108557649,163.57264478638297 1009.5037681197534,131.6693541174468 1041,123 C 1072.4962318802466,114.3306458825532 1110.3263383767512,128.89522831659573 1134,132 C 1157.6736616232488,135.10477168340427 1167.1908783732417,126.7497326161702 1189,130 C 1210.8091216267583,133.2502673838298 1244.9101481302812,148.10584121872338 1273,155 C 1301.0898518697188,161.89415878127662 1323.1685291056338,160.82690250893617 1350,157 C 1376.8314708943662,153.17309749106383 1408.4157354471831,146.5865487455319 1440,140 L 1440,400 L 0,400 Z"
				stroke="none"
				stroke-width="0"
				fill="url(#gradient)"
				fill-opacity="0.4"
				class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
			<defs>
				<linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
					<stop offset="5%" stop-color="#F78DA7"></stop>
					<stop offset="95%" stop-color="#8ED1FC"></stop>
				</linearGradient>
			</defs>
			<path
				d="M 0,400 L 0,220 C 31.030638707367757,218.80918828890185 62.061277414735514,217.6183765778037 90,216 C 117.93872258526449,214.3816234221963 142.78552904842567,212.33568197768707 170,212 C 197.21447095157433,211.66431802231293 226.7966063915618,213.0388955114481 251,210 C 275.2033936084382,206.9611044885519 294.0280453853273,199.5087359765206 315,196 C 335.9719546146727,192.4912640234794 359.0912120671292,192.92616058246944 389,198 C 418.9087879328708,203.07383941753056 455.6071063461558,212.7866216936017 488,217 C 520.3928936538442,221.2133783063983 548.4803625482475,219.9273526431236 569,224 C 589.5196374517525,228.0726473568764 602.4714434608541,237.503967733904 626,246 C 649.5285565391459,254.496032266096 683.6338636083364,262.05677642126034 712,249 C 740.3661363916636,235.94322357873966 762.9931021058003,202.26892658105464 790,197 C 817.0068978941997,191.73107341894536 848.3937279684623,214.86751725452103 878,217 C 907.6062720315377,219.13248274547897 935.4319860203506,200.26100440086117 960,194 C 984.5680139796494,187.73899559913883 1005.8783279501356,194.0884651420342 1030,194 C 1054.1216720498644,193.9115348579658 1081.054702179107,187.38513503100188 1107,191 C 1132.945297820893,194.61486496899812 1157.9028633334353,208.37099473395827 1186,211 C 1214.0971366665647,213.62900526604173 1245.333844487152,205.1308860331651 1272,206 C 1298.666155512848,206.8691139668349 1320.7617587179564,217.10546113338143 1348,221 C 1375.2382412820436,224.89453886661857 1407.6191206410217,222.4472694333093 1440,220 L 1440,400 L 0,400 Z"
				stroke="none"
				stroke-width="0"
				fill="url(#gradient)"
				fill-opacity="0.53"
				class="transition-all duration-300 ease-in-out delay-150 path-2"></path>
			<defs>
				<linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
					<stop offset="5%" stop-color="#F78DA7"></stop>
					<stop offset="95%" stop-color="#8ED1FC"></stop>
				</linearGradient>
			</defs>
			<path
				d="M 0,400 L 0,300 C 29.8953005580345,297.66974382133037 59.790601116069,295.3394876426607 86,295 C 112.209398883931,294.6605123573393 134.73289609375848,296.31179325068763 163,303 C 191.26710390624152,309.68820674931237 225.27781450889717,321.41333935458886 250,320 C 274.72218549110283,318.58666064541114 290.15584587065285,304.0348493309571 312,302 C 333.84415412934715,299.9651506690429 362.09880200849136,310.4472633215825 388,315 C 413.90119799150864,319.5527366784175 437.44894609538153,318.17609738271256 468,313 C 498.55105390461847,307.82390261728744 536.1054136099824,298.8483471475672 565,300 C 593.8945863900176,301.1516528524328 614.1293994646891,312.43051402701866 639,317 C 663.8706005353109,321.56948597298134 693.3769885312615,319.4295967443581 719,312 C 744.6230114687385,304.5704032556419 766.3626464102647,291.85109899554885 795,293 C 823.6373535897353,294.14890100445115 859.1724258276796,309.16600727344655 883,315 C 906.8275741723204,320.83399272655345 918.9476502790171,317.48487191066516 945,319 C 971.0523497209829,320.51512808933484 1011.0369730562518,326.89450508389285 1041,314 C 1070.9630269437482,301.10549491610715 1090.9044574959764,268.9371077537635 1113,270 C 1135.0955425040236,271.0628922462365 1159.3451969598414,305.3570639010531 1191,315 C 1222.6548030401586,324.6429360989469 1261.7147546646581,309.63463664202413 1288,303 C 1314.2852453353419,296.36536335797587 1327.7957843815261,298.10438953085026 1351,299 C 1374.2042156184739,299.89561046914974 1407.102107809237,299.94780523457484 1440,300 L 1440,400 L 0,400 Z"
				stroke="none"
				stroke-width="0"
				fill="url(#gradient)"
				fill-opacity="1"
				class="transition-all duration-300 ease-in-out delay-150 path-3"></path>
		</svg>
	</div>
</Layout>
