---
import RoundClock from "../../../solid/round-clock";
import Layout from "../../../layouts/Layout.astro";
import dayjs from "dayjs";
const pageTitle = "圆形时钟";
const date = dayjs().format("YYYY年MM月DD日");
---

<Layout pageTitle={pageTitle}>
  <div class="size-full flex flex-col justify-center items-center gap-4">
    <div class="w-2/3 sm:w-1/4 flex flex-col justify-center items-center">
      <RoundClock client:load />
    </div>
    <div class="text-2xl font-bold">{date}</div>
  </div>
</Layout>
